<?xml version="1.0"?>
<!--
  ~ @author magefast@gmail.com www.magefast.com
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\CatalogUrlRewrite\Model\CategoryUrlPathGenerator"
                type="Strekoza\CategoryNoParentPath\Model\CategoryUrlPathGenerator"/>
    <preference for="Magento\UrlRewrite\Model\Storage\DbStorage"
                type="Strekoza\CategoryNoParentPath\Model\Storage\DbStorage"/>
    <type name="Magento\CatalogUrlRewrite\Model\ProductScopeRewriteGenerator">
        <plugin name="plugin_category_url"
                type="Strekoza\CategoryNoParentPath\Plugin\ProductScopeRewriteGeneratorPlugin"/>
    </type>
</config>
