<?xml version="1.0"?>
<!--
  ~ @author magefast@gmail.com www.magefast.com
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\Category">
        <plugin name="Strekoza_AvailableSlashForCategoryUrlKey_Plugin"
                type="Strekoza\AvailableSlashForCategoryUrlKey\Plugin\FormatCategoryUrlKey"
                sortOrder="10"
                disabled="false"/>
    </type>
</config>